<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DAO.LikeMapper">
    <insert id="like">
        insert into likes(uuid, likeduser) values (#{1}, #{0})
    </insert>
    <delete id="unlike">
        delete from likes where uuid=#{1} and likeduser=#{0}
    </delete>
    <select id="getNodeLikes" resultType="Models.EdgeBean">
        select uuid as 'from', likeduser as 'to' from likes
    </select>

    <select id="getNodeLikeDetail" resultType="Models.EdgeBean">
        select uuid as 'from', likeduser as 'to' from likes where uuid in (select uuid from messages where message like #{1})
    </select>

    <select id="getNodeLiker" resultType="Models.NodeBean">
        select likeduser as 'id', likeduser as 'label' from likes where uuid in(select uuid from messages where message like #{1})
    </select>
</mapper>
