<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DAO.ReportMapper">
    <insert id="addActivity" parameterType="Models.Activity">
        insert into activities(id, user, date, operation, keyword, name_entity) values(#{uuid},#{user},#{date},#{operation},#{keyword},#{name_entity})
    </insert>

    <select id="getActivityByUser" parameterType="java.lang.String" resultType="Models.Activity">
        select * from activities where user=#{user} order by date desc
    </select>
    
</mapper>