<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DAO.UserMapper">
    <!-- 这里namespace必须是UserMapper接口的路径” -->
    <insert id="insertUser" parameterType="Models.UserBean">
        insert into users(username,password,email,name,gender,birth,photo,actived,randomcode,joindate) values(#{username},#{password},#{email},#{name},#{gender},#{birth},#{photo},#{actived},#{randomCode},#{joindate})
        <!-- 这里sql结尾不能加分号，否则报“ORA-00911”的错误 -->
    </insert>

    <!-- 这里的id必须和UserMapper接口中的接口方法名相同 -->
    <select id="getUser" resultType="Models.UserBean" parameterType="java.lang.String">
        select * from users where username=#{username}
    </select>
    

    <select id="getAllUsers" resultType="Models.UserBean">
        select * from users
    </select>

    <update id="updateUser" parameterType="Models.UserBean">
        update users set password=#{password},email=#{email},name=#{name},gender=#{gender},birth=#{birth},photo=#{photo},actived=#{actived} where username=#{username}
    </update>
    <update id="updateActivedUser" parameterType="Models.UserBean">
        update users set password=#{password},email=#{email},name=#{name},gender=#{gender},birth=#{birth},photo=#{photo} where username=#{username}
    </update>
    <update id="banUser" parameterType="Models.UserBean">
        update users set actived=#{actived} where username=#{username}
    </update>
</mapper>